<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Home</ion-title>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets/icon/favorite.png"/>
    <ion-card-content text-center>
      <p>
        It provides a library, where user can find list of quotes
      </p>
      <p>
        User can choose any quote and mark it as a Favorite Quote
      </p>
      <p>
        User can un-favorite any favorite quote
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
